header{
    width: 100%;
    height: 115px;
    display: flex;
    align-items: center;
}
.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenedor li{
    list-style: none;
}
.contenedor-logo{
    flex: 1;
}
.contenedor-buscador{
    flex: 3;
    display: flex;
    width: 390px;
    height: 40px;
}
#buscar-text, .btn-buscar{
    background-color: #f5f5f5;
    padding: 10px;
    border: none;

}
#buscar-text{
    margin-left: 0;
    border-radius: 20px 0px 0 20px;
}
.btn-buscar{
    margin-right: 0;
    border-radius: 0 20px 20px 0;
}
.contenedor-login-header{
    flex: 2;
    text-align: right;
}
.btn-login{
    width: 182px;
    height: 50px;
    background-color: transparent;
    color:  #2A7AE4;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #2A7AE4;
}
.contenedor-icono{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1023px){
    header{
        height: 72px;
    }
    .contenedor{
        width: 90%;
    }
    .contenedor-logo img{
        height: 35px;
    }
    #buscar-text{
        width: 270px;
        padding: 8px 16px;
    }
    .btn-login{
        width: 166px;
        height: 40px;
    }
}
@media screen and (max-width:767px){
    .contenedor{
        width: 100%;
    }
    .contenedor li{
        text-align: center;
    }
    .contenedor-logo{
        flex: 2;
    }
    .contenedor-logo img{
        width: 100px;
        height: 28px;
    }
    .contenedor-buscador{
        display: none;
    }
    .btn-buscar{
        background-color: transparent;
    }
    .contenedor-login-header{
        flex: 3;
    }
    .btn-login{
        width: 100px;
        height: 35px;
        font-size: 14px;
    }
    .contenedor-icono{
        display: block;
        flex: 1;
    }
    .contenedor-icono img{
        width: 24px;
        height: 24px;
    }
}