.rodapie {
    height: 470px;
    background-color: #EAF2FD;
    padding: 70px 0;
    font-family: Raleway;
    text-transform: capitalize;
}

.rodapie-empresa {
    display: flex;
    width: 80%;
    height: 370px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo-lista .contacto {
    height: 234px;
}

.logo-lista {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.rodapie-logo {
    text-align: center;
}

.rodapie-lista {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.rodapie-lista li {
    list-style: none;
}

.rodapie-contacto {
    flex: 1;
    box-sizing: border-box;
}

.rodapie-contacto form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.contacto-titulo {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: #464646;
}

.contacto-nombre,.contacto-mensaje{
    border-radius: 4px;
    padding: 10px;
    border: none;
    width: 560px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.contacto-nombre {
    height: 56px;
}

.contacto-mensaje {
    height: 82px;
}

.contacto-boton {
    width: 145px;
    height: 50px;
    background-color: #2a7ae4;
    font-size: 16px;
    color: #FFF;
    border: none;
}
.rodapie-desarrollador{
    background-color: #FFF;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .rodapie {
        padding: 55px 0;
    }

    .rodapie-empresa {
        width: 90%;
        height: 370px;
    }

    .logo-lista {
        flex: 2;
        flex-direction: column;
    }

    .rodapie-logo {
        text-align: left;
    }

    .rodapie-lista {
        flex: 1;
        gap: 20px;
    }

    .rodapie-contacto {
        flex: 3;
    }

    .contacto-nombre, .contacto-mensaje, .contacto-boton{
        width: auto;
    }
}

@media screen and (max-width:767px) {
    .rodapie {
        height: auto;
        padding: 10px 0 0;
    }

    .rodapie-empresa {
        width: 100%;
        height: 700px;
        flex-direction: column;
    }

    .logo-lista {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .rodapie-logo {
        text-align: left;
    }
    .rodapie-logo img{
        height: 70px;
    }

    .rodapie-lista {
        gap: 20px;
        text-align: center;
    }

    .rodapie-contacto {
        width: 90%;
    }

    .contacto-nombre, .contacto-mensaje, .contacto-boton{
        width: 100%;
    }
    .rodapie-desarrollador{
        margin-top: 10px;
        height: 60px;
        font-size: 14px;
    }
}