.contenedor-login{
    width: 100%;
}
.login-titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 37px;
}

.login-item {
    width: 500px;
    height: 50px;
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .contenedor-login form{
        width: 80%;
    }
    .login-item {
        width: 90%;
    }
}

@media screen and (max-width:767px) {
    .contenedor-login form{
        width: 90%;
    }
    .login-item {
        width: 90%;
    }
}